<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="user-list">Listar usuários</a>
      <a mat-list-item href="favorites">Listar usuários favoritos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gerenciador de usuários</span>
    </mat-toolbar>

    <mat-card *ngIf="this.router.url === '/'">
      <div>
        <h2 >bem vindo ao gerenciador de usuários</h2>
        <h4>Utilize o menu lateral para navegar entre as opções</h4>  
      </div>
    </mat-card>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
